$font-family: museo_sans;
$font-stack: $font-family, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 100%;
$line-height: 1.6;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-heavy: 700;

$body-text-color: $off-black;
$heading-text-color: $green;

$default-border-style: 1px solid #F2F4F4;

// Footer

$footer-background-color: $color-concrete;
