body {
  font-family: $font-stack;
  font-size: $font-size;
  font-weight: $font-weight-light;
  line-height: $line-height;
  background: transparent;
  color: $body-text-color;
  border-top: 3px solid $green;
}

pre {
  overflow: scroll;
}
